html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: black
}

#main {
  text-align: center;
  color:white;
}

h1 {
  font-size: 40px;
}

.top {
  margin: 20px 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: grey;
  color:black !important;
}

img {
  max-width: 70%;
  display: block;
  height: auto;
  margin: 0 auto;
}

figcaption {
  font-size: 12px;
  margin: 5px
}

#tribute-text {
  font-size: 15px;
  margin: 5px 25px 25px 25px;
  text-align:left;
}
 
.button {
  height: 40px;
  width: 500px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black; 
  border: 2px solid black;
}

.button:hover {
  background-color: white;
  color: white;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

}

.quote {
  margin: 20px 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: grey;
  color:black !important;
}